/* Full Page CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Arial, Helvetica, sans-serif;
}

/* Header CSS - Header.js*/
.notz-header {
  background-color: #4056a1;
  padding: 5px 10px;
}
