/* Full Page CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #0b0c10;
}

.container {
  text-align: center;
  max-width: 90vw;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

/* Header */
.header-title {
  color: #45a29e;
}

/* Notes Form */
.notes-form {
  margin: 20px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.note-input {
  outline: none;
  size: 50;
  font-size: 0.8rem;
  border: none;
  background: #d7e0da;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
}

.notes-submit {
  cursor: pointer;
  margin-left: 5px;
  border-radius: 5px;
  color: #45a29e;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
}

.notes-icon {
  border-radius: 5px;
}

.notes-icon:hover {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  outline: none;
}

/* Notes List */
.list {
  width: 250px;
  margin-top: 20px;
  list-style: none;
  position: relative;
}

/*  List item */
.item {
  background-color: #45a29e;
  height: 30px;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 0 5px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item.active {
  background-color: #64e764;
}

.item-name {
  text-align: left;
  padding-top: 7px;
  width: 75%;
  height: 100%;
  cursor: pointer;
}

.icon-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 15%;
}

.button {
  cursor: pointer;
  display: flex;
  border: none;
  outline: none;
  background-color: transparent;
}

.delete-icon:hover {
  color: red;
}

.edit-icon:hover {
  color: blue;
}

.edit-input {
  width: 85%;
}

.check-circle:hover {
  color: #64e764;
}
